# TODO: most of these can be compile-time only
# bugs.MixinEnchantmentHelper
public net.minecraft.enchantment.EnchantmentHelper$IModifier
public net.minecraft.enchantment.EnchantmentHelper$ModifierDamage
public net.minecraft.enchantment.EnchantmentHelper$ModifierLiving
public net.minecraft.enchantment.EnchantmentHelper$HurtIterator
public net.minecraft.enchantment.EnchantmentHelper$DamageIterator
public net.minecraft.enchantment.EnchantmentHelper$ModifierDamage <init>()V
public net.minecraft.enchantment.EnchantmentHelper$ModifierLiving <init>()V
public net.minecraft.enchantment.EnchantmentHelper$HurtIterator <init>()V
public net.minecraft.enchantment.EnchantmentHelper$DamageIterator <init>()V

# textures.MixinBlockModelRenderer
public net.minecraft.client.renderer.BlockModelRenderer$AmbientOcclusionFace

# textures.MixinTextureMap
public net.minecraft.client.renderer.RenderGlobal field_72755_R #renderInfos
public net.minecraft.client.renderer.RenderGlobal$ContainerLocalRenderInformation
public net.minecraft.client.renderer.RenderGlobal$ContainerLocalRenderInformation *

# bugs.MixinMinecraft
public net.minecraft.util.ScreenShotHelper func_74290_a(Ljava/io/File;)Ljava/io/File; #getTimestampedPNGFileForDirectory

# crashes.MixinCrashReportCategory
public net.minecraft.crash.CrashReportCategory$Entry